/* indexpage============================================= */
.logo a{
  text-decoration: none;
}
.mylogo{
  font-size: 1.5rem;
  color: black;
}
.navbackground{
  background-color: #32c69a !important;
}
.banner{
  background-image: url("img/indexbanner.avif");
  background-size: cover;
  height: 700px;
}
.h1fontsize{
  font-size: 3.5rem;
  margin-top: 14rem !important;
}
.btnclr{
  background-color: #32c69a;
  color: antiquewhite;
}