/* indexpage============================================= */
.logo a{
  text-decoration: none;
}
.mylogo{
  font-size: 1.5rem;
  color: black;
}
.navbackground{
  background-color: #32c69a !important;
}
.banner{
  background-image: url("img/indexbanner.avif");
  background-size: cover;
  height: 700px;
}
.h1fontsize{
  font-size: 3.5rem;
  margin-top: 14rem !important;
}
.btnclr{
  background-color: #32c69a;
  color: antiquewhite;
}
.cardline{
  text-decoration: none !important;
}
.formbgcolor{
  background-color: #d8dee3;
}
#cal{
 
  color: beige;
  background-color: #32c69a;

}
/* =================================banner2======================================= */
.banner2img{
  background-image: url("img/cta_1.jpg.webp");
  background-size: cover;
  height: auto;
  
}
.mrgintop{
  margin:5rem 0;
}
#call{
  text-decoration: none;
  color: beige;
  background-color: #32c69a;
  margin-top: 50% !important;
}
.services{
  background-color:aliceblue;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: block;
  position: relative;
  top: 20%;
}
.backhroundcolor{
  background-color: #d8dee3;

}
.btnbg{
  background-color: #fff;

}
.texthover:hover{
  color: #32c69a !important;

}
.footerimg{
  background-image: url(img/footer.jpg.webp);
  background-size: cover;
  height: auto;
}
.footerlogo{
  text-decoration: none !important;
}
.fmrg{
  margin-top: 6rem;
}
.paragrph{
  line-height: 2.5rem;
}
.formbgcolor{
  background-color: #6a6d72;
  border: 0;
  border-radius: 0;
  
}
/* ==========================================About Page============================================= */
.aboutbanner{
  background-image: url("img/about.jpg.webp");
  background-size: cover;
  height: 200px;
}
.myabout{
  color: #fff;
  background-color: #32c69a;
  padding: 0.5rem;
}
#callnowbtn{
text-decoration: none;
background-color: #32c69a;
color: #fff;
padding: 1.1rem 1.7rem;
font-size: 1rem;
}
.borderbottm{
  border-bottom: 5px solid#32c69a;
}
/* ===========================================Services======================================== */
.servicebanner{
  background-image: url("img/services.jpg.webp");
  background-size: cover;
  height: 200px;
}
.cardbackground{
  background-image: url("img/info_1.jpg.webp");
  background-size: cover;
  height: 350px;
 opacity: 0.9;
}
.cardbackground2{
  background-image: url("img/info_2.jpg.webp");
  background-size: cover;
  height: 350px;
 opacity: 0.9;
}
.cardbackground3{
  background-image: url("img/latest_2.jpg.webp");
  background-size: cover;
  height: 350px;
 opacity: 0.9;
}
.chatbordr{
  border-left: 5px solid rgb(5, 0, 0);
  background-color: #32c69a;
  color: #fff;

}
.chatbordr2{
  border-left: 5px solid #d8dee3;
  background-color: rgb(145, 129, 129);
  color: #fff;

}
.chatbordr2:hover{
  border-left: 5px solid rgb(5, 0, 0);
  background-color: #32c69a;
  color: #fff;

}
/* ===========================================news============================================= */
#date{
  text-decoration: none;
  background-color:#32c69a;
  color: #fff;
  margin-top: 2rem;
  padding: 0.5rem;
}
#paraheight{
  color: #a6a7a6;
  line-height: 2rem;
}
.bg-info{
  background-color:#32c69a !important;

}
.tblhobveer{
  background-color:#d8dee3;
}
.tblhover:hover{
  background-color:#fff;
}
/* ==========================================contact======================================== */
.formbgcolor1{
  background-color:#e4e4e4;
  border: none;
  border-radius: 0;
}
.formbgcolor1:hover{
  border-left: 4px solid #32c69a;
}
.mapwidth{
  width: 100%;
}