/* indexpage============================================= */
.logo a{
  text-decoration: none;
}
.mylogo{
  font-size: 1.5rem;
  color: black;
}
.navbackground{
  background-color: #32c69a !important;
}
.banner{
  background-image: url("img/indexbanner.avif");
  background-size: cover;
  height: 700px;
}
.h1fontsize{
  font-size: 3.5rem;
  margin-top: 14rem !important;
}
.btnclr{
  background-color: #32c69a;
  color: antiquewhite;
}
.cardline{
  text-decoration: none !important;
}
.formbgcolor{
  background-color: #d8dee3;
}
#cal{
 
  color: beige;
  background-color: #32c69a;

}
/* =================================banner2======================================= */
.banner2img{
  background-image: url("img/cta_1.jpg.webp");
  background-size: cover;
  height: auto;
  
}
.mrgintop{
  margin:5rem 0;
}
#call{
  text-decoration: none;
  color: beige;
  background-color: #32c69a;
  margin-top: 50% !important;
}
.services{
  background-color:aliceblue;
}
nav.disabled {
  display:contents;
}